@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

@media screen {
    
}

body,html{
    margin: 0;
    padding: 0;
    height: 170vh;
    background-color: #2F2929;
}

/* ícone de menu */
.hamburguerList{
    margin-left: 2vw;
    color: #fff;
}

.divTitulo{
    display: flex;
    justify-content: center;
    align-items:center;
}

.h1Nome{
    margin-top: 6vh;
    text-align: center;
    color: #D16E26;
    font-size:3.5em;
    font-weight: lighter;
    font-family: 'Pompiere', cursive;
}

/* Imagem da nota musical */
.imagemH1{
    
    filter: invert();
    width: 40px;
    height: 40px;
    transform: rotate(-25deg);
}

.imagemH1Dois{
    filter: invert();
    width: 40px;
    height: 40px;
    transform: scaleX(-1) rotate(-25deg);
}

#inputs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

/* Quadrado dos inputs de Nota */
.inputNotas{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #D16E26;
    color: white;
    background-color: rgba(255, 255, 255, 0.04);
}


/* Quadrado menor do input de Nota */
.inputNotasMenores{
    height: 35px;
    width: 35px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.04);
}

.comparacao{
    display: flex;
}

#setas{
    display: flex;
    align-items: center;
    font-size: 50px;
    color: white;
}

.conjuntoInputAcorde{
    display: flex;
    align-items: center;
    gap: 5px;
}

.inputAcorde{
    display: flex;
    align-items: center;
    width: 185px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #D16E26;
    color: white;
    background-color: rgba(255, 255, 255, 0.04);

}

/* input Acorde menor */
.inputAcordeModificado{
    width: 80px;
}

select{
    text-align: center;
}

.divEnviar{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.botaoEnviar{
    width:200px;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid #D16E26;
    cursor: pointer;
    font-family: 'Pompiere', cursive;
    color: #fff;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.04);

}

.centralizaTeclado{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Teclado */
#fundoTeclado{
    padding: 0 50px;
    list-style: none;
    width: 1000px;
    height: 380px;
    margin-top:120px;
    display: flex;
    align-items: center;
    border: 2px solid #D16E26 ;
    background-color: rgba(255,255,255,0.04);
}

.nota{
    width: 150px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #2F2929;
    border-radius: 8px;
    margin-left: 1px;
}

option{
    background-color: #2F2929;
}

.sustenido{
    width: 70px;
    height: 180px;
    background-color: #2F2929;
    border-radius: 0 0 8px 8px;
    margin: 0 -18px 0 -20px;
    margin-bottom: 122px;
    z-index: 1;
}

/* Teclado */
/* Conjunto do Popup */
.defoco{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    z-index: 2;
    position:fixed;

}
.popup{
    background-color: rgb(58, 51, 46);
    width: 50vw;
    height: 90vh;
    display: block;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.658);
    color:white;
    animation: animacaoPopup 0.3s ease-in-out;
    position:fixed;
}

.popupFechar{
    background-color: rgb(58, 51, 46);
    height: 90vh;
    width: 50vw;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.658);
    color:white;
    animation: animacaoPopupSair 0.3s ease-in-out;
    position:fixed;
}

.erros{
    height: 45vh;
    width: 45vw;
    display: none;
    align-items: center;
    justify-content: center;
    color: #D16E26;
    font-size: xx-large;
    font-family: 'Pompiere';
    font-family: cursive;
    text-align: center;
}

#instrucoes{
    display: none;
}


@keyframes animacaoPopup {
    0% {
        transform: translate(0, 0) scale(0);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes animacaoPopupSair {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(0, 0) scale(0);
    }
}

.sair{
    position:absolute;
    background-color: rgba(0,0,0,0);
    border:0;
    color:white;
    right: 10px;
    top:10px;
    font-size: large;
}

.pre{
    margin:3vw 2.5vw;
    height: 50vh;
    width: 45vw;
    text-align: justify;
    font-family: cursive;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

span{
    color: #D16E26;
}

/* Conjunto do Popup */
/* Rodapé */
.rodape{
    width: 100%;
    height: 30vh;
    margin-top: 40vh;
    background-color: #44362D;
    color: white;

}
.created{
    position: absolute;
    width: 100%;
    height: 10vh;
    margin-top: 18.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.createdBy{
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    font-size: 14px;
    font-family: monospace;
    color: white;
}

.musicTales{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 27.5vh;
    width: 100%;
    margin-top: 20px;
}
.logo{
    position: absolute;
    width: 30vh;
    height: 10vh;
}
.divLogo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    height: 27.5vh;
    width: 100%;
}

.cabecalho{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #44362D;
}