@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

:root{
    --fonte: #fff;
    --fundoGeral:#2F2929;
    --fundoCabecalho:#44362D;
    --destaque:#D16E26;
    --fundoInput:rgba(255, 255, 255, 0.04);
    --sustenido:#2F2929;
    --fundoBotao:rgba(255, 255, 255, 0.04);
    
}

body,
html {
    margin: 0;
    padding: 0;
    height: 170vh;
    background-color: var(--fundoGeral);
}

.divTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1Nome {
    margin-top: 6vh;
    text-align: center;
    color: var(--destaque);
    font-size: 3.5rem;
    font-weight: lighter;
    font-family: 'Pompiere', cursive;
}

/* Imagem da nota musical */
.imagemH1 {
    width: 30px;
    height: 40px;
    transform: rotate(-25deg);
}

.imagemH1Dois {
    width: 30px;
    height: 40px;
    transform: scaleX(-1) rotate(-25deg);
}

#inputs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15vh;
}

/* Quadrado dos inputs de Nota */
.inputNotas {
    width: 3.7vw;
    height: 7.7vh;
    border-radius: 1rem;
    border: 2px solid var(--destaque);
    color: var(--fonte);
    background-color: var(--fundoInput);
}


/* Quadrado menor do input de Nota */
.inputNotasMenores {
    height: 5.6vh;
    width: 2.8vw;
    border-radius: 0.7rem;
    background-color: var(--fundoInput);
}

.comparacao {
    display: flex;
}

#setas {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: var(--fonte);
}

.conjuntoInputAcorde {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.inputAcorde {
    display: flex;
    align-items: center;
    width: 14vw;
    height: 7.7vh;
    border-radius: 1em;
    border: 2px solid var(--destaque);
    color: var(--fonte);
    background-color: var(--fundoInput);

}

/* input Acorde menor */
.inputAcordeModificado {
    width: 7vw;
}

select {
    text-align: center;
}

.divEnviar {
    display: flex;
    justify-content: center;
    margin-top: 15vh;

}

.botaoEnviar {
    width: 18vw;
    padding: 3vh;
    border-radius: 10rem;
    border: 2px solid var(--destaque);
    cursor: pointer;
    font-family: 'Pompiere', cursive;
    color: #fff;
    font-size: 1.8rem;
    background-color: var(--fundoBotao);

}



.centralizaTeclado {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Teclado */
#fundoTeclado {
    padding: 0 4vw;
    list-style: none;
    width: 65.8vw;
    height: 60vh;
    margin-top: 18vh;
    display: flex;
    align-items: center;
    border: 2px solid var(--destaque);
    background-color: var(--fundoInput);
}

.nota {
    width: 9.8vw;
    height: 43vh;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid var(--fundoGeral);
    border-radius: 0.7rem;
    margin-left: 1px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 2vh 0;
}

option {
    background-color: var(--fundoGeral);
}

.sustenido {
    width: 4.65vw;
    height: 29.4vh;
    background-color: var(--sustenido);
    border-radius: 0 0 0.6rem 0.6rem;
    margin: 0 -1.25vw 0 -1.25vw;
    margin-bottom: 17.5vh;
    z-index: 1;
}

/* Teclado */
/* Conjunto do Popup */
.defoco {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    z-index: 2;
    position: fixed;

}

.popup {
    background-color: var(--fundoGeral);
    width: 50vw;
    height: 90vh;
    display: block;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.658);
    color: var(--fonte);
    animation: animacaoPopup 0.3s ease-in-out;
    position: fixed;
}

.popupFechar {
    background-color: var(--fundoGeral);
    height: 90vh;
    width: 50vw;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.658);
    color: var(--fonte);
    animation: animacaoPopupSair 0.3s ease-in-out;
    position: fixed;
}

.erros {
    height: 40vh;
    width: 50vw;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--destaque);
    font-size: xx-large;
    font-family: 'Pompiere';
    font-family: cursive;
    text-align: center;
}

#instrucoes {
    display: none;
    overflow-y: scroll;
    padding: 2vh;
}

#instrucoes::-webkit-scrollbar {
    width: 1em;
}

#instrucoes::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

#instrucoes::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50vw;
}


@keyframes animacaoPopup {
    0% {
        transform: translate(0, 0) scale(0);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes animacaoPopupSair {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(0, 0) scale(0);
    }
}

.sair {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: var(--fonte);
    right: 0.8vw;
    top: 2vh;
    font-size: large;
}

.pre {
    margin: 3vw 2.5vw;
    height: 50vh;
    width: 45vw;
    text-align: justify;
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

span {
    color: var(--destaque);
}

/* Conjunto do Popup */
/* Rodapé */
.rodape {
    width: 100%;
    height: 42vh;
    margin-top: 40vh;
    background-color: var(--fundoCabecalho);
    color: white;

}

.created {
    position: absolute;
    width: 100%;
    height: 20vh;
    margin-top: 18.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.createdBy {
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    font-size: 0.8rem;
    font-family: monospace;
    color: white;
}

.musicTales {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 27.5vh;
    width: 100%;
    margin-top: 20px;
}

.logo {
    position: absolute;
    width: 30vh;
    height: 10vh;
}

.divLogo {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    position: absolute;
    height: 27.5vh;
    width: 100%;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: var(--fundoCabecalho);
    color: #fff;
}
.ajuda {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    body,
    html {
        margin: 0;
        padding: 0;
        height: 50vh;
        background-color: var(--fundoGeral);
    }

    .cabecalho {
        display: flex;
        align-items: center;
        width: 100%;
        height: 5vh;
        background-color: var(--fundoCabecalho);
    }

    .ajuda {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 18px;
        cursor: pointer;
    }

    .divTitulo {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .h1Nome {
        font-size: 3rem;

    }

    .imagemH1 {
        width: 30px;
        height: 40px;
        transform: rotate(-25deg);
    }

    .imagemH1Dois {
        width: 30px;
        height: 40px;
        transform: scaleX(-1) rotate(-25deg);
    }

    /* Teclado */
    #fundoTeclado {
        width: 72.8vw;
        height: 27vh;
        font-size: 0.8rem;
    }

    .nota {
        width: 15.8vw;
        height: 11vh;
        border-radius: 10px;
    }

    .sustenido {
        width: 4.65vw;
        height: 9.4vh;
        border-radius: 10px;
        margin-bottom: 5.9vh;
    }

    #inputs {
        gap: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15vh;
    }

    .inputNotas {
        width: 15.7vw;

    }

    .inputNotasMenores {

        width: 10.8vw;
    }

    #setas {
        font-size: 2rem;
        rotate: 90deg;
    }

    .inputAcorde {
        width: 27vw;

    }

    .botaoEnviar {
        width: 30vw;
    }

    .logo {
        width: 200px;
        height: 60px;
    }

    .popup {
        margin-top: 30px;
        width: 80vw;
        height: 90vh;

    }

    .pre {
        margin: 6vw 2.5vw;
        height: 50vh;
        width: 72vw;
        padding: 10px;
    }

    .popupFechar {
        margin-top: 30px;
        width: 80vw;
        height: 90vh;
    }

    .rodape {
        margin-top: 20vh;
        font-size: 13px;
    }

    .erros {
        height: 50vh;
        width: 60vw;
        font-size: x-large;
        
    }
}